@import "tailwindcss";

@theme {
  --font-sans: var(--font-poppins), system-ui, sans-serif;
  
  --color-primary: #2563EB;
  --color-primary-dark: #1E40AF;
  --color-primary-light: #60A5FA;
  
  --color-whatsapp: #25D366;
  
  --color-bg-app: #F8FAFC;
  --color-surface: #FFFFFF;
}

body {
  background-color: var(--color-bg-app);
  font-family: var(--font-sans);
}
